.navwrapper  {
  display: flex;
    /* Puts elements next to one another, not on top */
  justify-content: space-between;
    /* This pushes the left & right items to far edges and adds space between  */
  align-items: center;
    /* Centers everything in the header - horizontally not vertivally */
  padding: 30px 10%;
}

/* Margin and padding resets the page when browsers add stuff in */
/* This selects everything on the page, not recomended but it's what the tutorial went with */


/* This just sets the font styles  - text dec none removes the underlines*/
li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #08107e;
  text-decoration: none;

}

.logo {
  cursor: pointer;
}

.nav_links {
  list-style: none;
  /* Removes bullets */
}

.nav_links li {
  /* targets nav links and each item */
  display: inline-block;
  /* puts all the nav links side by side */
  padding: 0px 20px;
}

/* LINK COLOURS ON HOVER */

.nav_links li a {
  /* Need to target the a's so that the transition colour works */
transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
color: #dc89d7;
}

/* BUTTON */

button {
  padding: 9px 25px;
  background-color:  rgba(0, 136, 169, 1);
  /* Needs to be rgba so we can drop the opactiy */
  border: none;
  /* removes border */
  border-radius: 50px;
  /* makes rounded */
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color:  pink(255, 192, 203, 0.8);
/* same colour as above but alpha value (last value)makes it darker  */
}

.is-background-pink{
background-color: pink;
}

.is-background-pink-typo{
  color: white;
}

