:host {
  display: block;
}

.carousel {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.carouselButton {
  font-size: 20px;
  color: white;
  background-color: #004f56;
  z-index: 100;
}

#prev {
  margin-right: 20px;
}
#next {
  margin-left: 20px;
}
.previewImage{
  height: 150px;
}
#mainImage{
  height: 300px;
}
.shopSide{
  display: flex;
  align-items: center;
}
#mainImageFrame{
  background-color: #004f56;
  clip-path: polygon(3% 4%, 100% 0%, 88% 99%, 12% 96%);
  width: 500px;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
