:host {
  display: block;
  height: 100px;
}

.carousel {
  width: 300px;
  height: 300px;
  background-color: red;
}

.carouselButton {
  font-size: 20px;
  color: white;
  background-color: #004f56;
  z-index: 100;
}

#prev {
  left: 1rem;
}
#next {
  right: 1rem;
}

img {
  width: 100px;
  height: 100px;
}