:host {
    display: block;
}

.sl-card-style {
    padding: 5px 10px 5px 10px;
    border-radius: 12px;
    margin: 10px;
}

.sl-card-img {
    max-width: 100%;
}

.sl-dark-card,
.sl-dark-card>a {
    background-color: var(--app-dark-mode-bg);
    color: var(--app-dark-mode-color);
    transition: 0.4s;
}

.sl-light-card {
    background-color: var(--app-light-mode-bg);
    transition: 0.4s;
}