.sl-header {
    display: grid;
    grid-template-columns: 100px repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    padding: 10px
}

.sl-header>a {
    text-decoration-line: none;
}

.sl-header>a:hover {
    font-weight: bold;
}

.sl-dark-header,
.sl-dark-header>a {
    background: var(--app-dark-mode-bg);
    color: var(--app-dark-mode-color);
    ;
}

.sl-light-header {
    background: var(--app-light-mode-bg);
}