:host {
    display: inline-block;
}

.sl-card {
    width: 200px;
    height: 200px;
    perspective: 800px;
    margin: 0 auto;
}

.sl-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.sl-card:hover .sl-content {
    transform: rotateY( 180deg);
    transition: transform 0.5s;
}

.sl-front,
.sl-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
}

.sl-back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg);
}