@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --blue-dark: #004f56;
    --blue-100: #006e76;
    --blue-80: #308A90;
    --blue-60: #66A8AD;
    --red-100: #d50000;
    --orange-100: #f05a23;
    --yellow-100: #fcee21;
}

* {
    font-family: "Open Sans", sans-serif;
    color: white;
}

body {
    background-color: var(--blue-100);
    margin: 0;
}

.tutorial,
.supporter {
    display: flex; 
    justify-content: center;
}

.updates{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
