:host {
  display: block;
  min-width: 200px;
  max-width: 200px;
  padding: 20px 60px;
  padding-bottom: 30px;
  clip-path: polygon(3% 4%, 100% 0%, 88% 99%, 12% 96%);
  background-color: var(--blue-dark);
}

.singleupdate{
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}
.singleupdate p{
  margin-bottom: 10px;
}
#updatetitle{
  font-weight: bold;
  font-size: 19px;
  margin-bottom: -15px;
}