:host {
  font-family: 'Open Sans', sans-serif;
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: var(--blue-dark);
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 95%);
  z-index: 90;
  padding:  30px 0; 
}
.Grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  
  }
.contactFormular {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.AcceptSubmit {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.textinput {
  background-color: var(--blue-60);
  border: none;
  height: 37px;
  width: 250px;
  clip-path: polygon(4% 8%, 100% 0, 87% 100%, 14% 96%);
  text-align: center;
  color: white;
}

.acceptContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nameInput , .emailInput {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
 
}
#radioAccept{
  margin-right: 10px;
}
.acceptContainer label {
  color: white;
}
.nameInput input::placeholder , .emailInput input::placeholder{
  color: white;
  opacity:60%;
}
#warning {
  color: white;
  
}
#warningWrapper{
  display: none ;
  justify-content: center;
  align-items: center;
  clip-path: polygon(4% 8%, 100% 0, 87% 100%, 14% 96%);
  background-color: var(--blue-60);
  height: 37px;
  width: 400px;
  margin: 25px auto;
}