:host {
  display: block;
}

#container1 {
  height: 800px;
  width: 500px;
  background-color: pink;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

#container0 {
  height: 900px;
  width: 900px;
  
}

img {
  max-width: 100%;
  max-height: 80%;
 }



#recipe {
  width: 300px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  height: auto;
}

.text-control {
  width: 100%;
  height: 34px;
  padding-left: 10px;
  margin: 10px;
}

#thumbsDown {
  width: 50px;
  height: 50px;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

#thumbsUp {
  width: 50px;
  height: 50px;
  background: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}


#container0 {
  position:relative
}
#container1 {position:absolute;right: 350px;bottom:50px;z-index:10}

#kreis {
  border-radius: 10%;
}







