button{
  padding: 0.75em 1.5em;
  border: none;
  background-color: var(--blue-100);
  font-style: bolder;
  cursor: pointer;
  transition: 200ms;
  clip-path: polygon(0 3%, 99% 5%, 89% 88%, 8% 100%);
  user-select: none;
}

button.darkblue{
  background-color: var(--blue-dark);
}

button.blue{
  background-color: var(--blue-100);
}

button.lightblue{
  background-color: var(--blue-80);
}

button:hover{
  transform: scale(1.1);
}

button a{
  color: #fff;
  text-decoration: none;
}

button.s{
  font-size: 15px;
}

button.m{
  font-size: 20px;
}

button.l{
  font-size: 25px;
}

button.xl{
  font-size: 40px;
}

button.xxl{
  font-size: 75px;
}