:host {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.frame {
  height: 100vh;
}

.popUpLogo{
 width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 padding-top: 100px;
}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 70%;
}
