:host {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.popUpLogo{
 width: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
}

p{
  font-size: 18px;
  color: white;
  text-align: center;
}
