:host {
    display: block;
    background: cornsilk;
    margin-bottom: 10px;
}

.sl-hero-section {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sl-hero-headline {
    text-align: center;
}

#addProductsButton {
    background: ghostwhite;
    border-radius: 8px;
}

#addProductsButton:hover {
    color: grey;
    font-weight: bold;
    border-radius: 8px;
}

ul {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}

ul>li {
    font-weight: bold;
    text-transform: uppercase
}