
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans' , sans-serif;
  width: 100%;
  
}
li, a {
  text-decoration: none;
  color: white;
  transition: 200ms;
}
.headerlinks {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.headerlinks li {
  display: inline-block;
  padding: 0 10px;
  color: black;
}

li :hover {
  color: gray;
  
} 
a :hover {
  color: gray;
  
}
