:host {
  display: block;
}

.brightness-div {
  float: right;
  width: auto;
  height: 90px;
}

#brightness-range {
  width: 200px;
  cursor: pointer;  
  margin: 30px; 
  margin-right: 5px;
  margin-top: 40px;
}

p {
  margin: 30px;
  margin-left: 0px;
  font-size: 25px;
  height: 50px;
}

#brightness-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;   
}